@page "/fakedata"
@inject IndexedDbAccessor IndexedDbAccessor

<h3>FakeData</h3>
<div>
    Last Command Run: [@mostRecentTime.ToString("yyyy-MM-dd HH:mm:ss")] : [@mostRecentCommand]
</div>
<br>
<br>
<EditForm Model="action" OnValidSubmit="HandleAdHocCommand">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-8">
            <label for="entry-text">Entry</label>
            <InputText style="width:90%" id="entry-text" @bind-Value="action.Action" />
        </div>
        <div class="col-4">
            <button style="width:80%" type="submit">Add</button>
        </div>
    </div>
</EditForm>